# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/.idea*/
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Smile_and_Wave.exe
Smile_and_Wave_Data/Managed/Assembly-CSharp.dll
Smile_and_Wave_Data/Managed/Mono.Security.dll
Smile_and_Wave_Data/Managed/System.Core.dll
Smile_and_Wave_Data/Managed/System.dll
Smile_and_Wave_Data/Managed/UnityEngine.Networking.dll
Smile_and_Wave_Data/Managed/UnityEngine.PlaymodeTestsRunner.dll
Smile_and_Wave_Data/Managed/UnityEngine.UI.dll
Smile_and_Wave_Data/Managed/UnityEngine.dll
Smile_and_Wave_Data/Managed/UnityEngine.dll.mdb
Smile_and_Wave_Data/Managed/mscorlib.dll
Smile_and_Wave_Data/Mono/MonoPosixHelper.dll
Smile_and_Wave_Data/Mono/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx
Smile_and_Wave_Data/Mono/etc/mono/1.0/machine.config
Smile_and_Wave_Data/Mono/etc/mono/2.0/Browsers/Compat.browser
Smile_and_Wave_Data/Mono/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
Smile_and_Wave_Data/Mono/etc/mono/2.0/machine.config
Smile_and_Wave_Data/Mono/etc/mono/2.0/settings.map
Smile_and_Wave_Data/Mono/etc/mono/2.0/web.config
Smile_and_Wave_Data/Mono/etc/mono/browscap.ini
Smile_and_Wave_Data/Mono/etc/mono/config
Smile_and_Wave_Data/Mono/etc/mono/mconfig/config.xml
Smile_and_Wave_Data/Mono/mono.dll
Smile_and_Wave_Data/Resources/unity default resources
Smile_and_Wave_Data/Resources/unity_builtin_extra
Smile_and_Wave_Data/app.info
Smile_and_Wave_Data/globalgamemanagers
Smile_and_Wave_Data/globalgamemanagers.assets
Smile_and_Wave_Data/level0
Smile_and_Wave_Data/level1
Smile_and_Wave_Data/level2
Smile_and_Wave_Data/level3
Smile_and_Wave_Data/level4
Smile_and_Wave_Data/level5
Smile_and_Wave_Data/level6
Smile_and_Wave_Data/output_log.txt
Smile_and_Wave_Data/sharedassets0.assets
Smile_and_Wave_Data/sharedassets0.assets.resS
Smile_and_Wave_Data/sharedassets0.resource
Smile_and_Wave_Data/sharedassets1.assets
Smile_and_Wave_Data/sharedassets2.assets
Smile_and_Wave_Data/sharedassets2.assets.resS
Smile_and_Wave_Data/sharedassets2.resource
Smile_and_Wave_Data/sharedassets3.assets
Smile_and_Wave_Data/sharedassets3.assets.resS
Smile_and_Wave_Data/sharedassets4.assets
Smile_and_Wave_Data/sharedassets4.assets.resS
Smile_and_Wave_Data/sharedassets5.assets
Smile_and_Wave_Data/sharedassets5.assets.resS
Smile_and_Wave_Data/sharedassets6.assets
Smile_and_Wave_Data/sharedassets6.assets.resS
